# render.yaml
services:
  - type: web
    name: tradingview-bot
    runtime: python
    env: python
    region: oregon
    plan: free
    buildCommand: "pip install -r requirements.txt"
    startCommand: "python app.py"
    envVars:
      - key: BINANCE_API_KEY
        sync: false
      - key: BINANCE_API_SECRET
        sync: false
      - key: DISCORD_WEBHOOK_URL
        sync: false
